body {
    color: rgba(208, 243, 10, 0.959);
    background-color: black;
  }

h1 {
    color: rgb(26, 243, 26);
    font-family: 'Times New Roman', Times, serif
}
h2 {
    color: rgb(245, 12, 24);
    font-family: 'Times New Roman', Times, serif
}